*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6bb1cc;
}

h2{
  text-align: center;
}
.material-symbols-rounded{
  height: fit-content;
  margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                              CHAT APPLICATION                              */
/* -------------------------------------------------------------------------- */


#chat{
  background: #FBFBFB;
  height: 1000px;
  width: 1000px;
  min-width: 500px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#chat-log{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid rgb(184, 184, 184);
  background: #FBFBFB;
  flex-grow: 1; /* Allows the chat log to take up available space */
  border-radius: 20px;
  overflow-y: auto; /* Allows scrolling if chat-log overflows */
  padding: 15px;
}
.mine{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: fit-content;
}
.mine .message {
  color: white;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.others .message{
  
}

.add{
  color: #05668d;
  border-radius: 50%;
  padding: 5px;
}

.add:hover{
  background: rgb(231, 195, 140);
}

#chat-input{
  display: flex;
  gap: 10px;
}

textarea{
  border-radius: 25px;
  resize: none;
  outline: none;
  border: 1px solid rgb(184, 184, 184);
  width: 100%;
  font-size: 1em;
  line-height: 1.2em; /* Adjust this to match desired row height */
  padding: 10px; /* Reduce padding to ensure it fits the row height */
  box-sizing: border-box; /* Ensure padding is included in total height */
  overflow: hidden;
}

textarea:focus{
  border-color: #02c39a;
  box-shadow: 0 0 5px #02c39a; /* Shadow effect on focus */
}

#send{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 2px solid #05668d;
  outline: 2px solid #02c39a;
  padding: 0;
  background: #f0f3bd;
  color: black;
}
/* #send img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  
} */