*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6bb1cc;
}

h2{
  text-align: center;
}
.material-symbols-rounded{
  height: fit-content;
  margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                              CHAT APPLICATION                              */
/* -------------------------------------------------------------------------- */

#lobby{
  display: flex;
  position: relative;
}

#chat{
  background: #FBFBFB;
  height: 1000px;
  width: 1000px;
  min-width: 500px;
  border-radius: 20px 0 0 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sign-in{
  border-radius: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgb(255 255 255 / 5%);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

#error-display{
  color: red;
}

#chat-log{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(184, 184, 184);
  background: #FBFBFB;
  flex-grow: 1;
  border-radius: 20px;
  overflow-y: auto;
  padding: 15px;
}

#chat-log > div:first-child{
  margin-top: auto;
}
.mine, .others{
  display: flex;
  flex-direction: column;  
}
.mine{
  align-items: flex-end;
}
.others{
  align-items:flex-start;
}
.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  display: relative;
  /* width: fit-content; */
}

.message img{
  width: 35px;
  position: absolute;
}
.message div{
  position: absolute;
  color: #05668d;
  border-top: 1px #05668d solid;
  border-bottom: 1px #05668d solid;
  font-weight: bolder;
  padding: 2px;
}
.mine .message img{
  bottom: -16px;
  left: -25px;
}

.mine .message div{
  left: -75px;
  bottom: -12px;
  /* background: #f0f3bd; */

}
.mine .message {
  color: white;
  background: linear-gradient(to bottom, #f0f3bd 0%, #02c39a 25%, #00a896 50%, #028090 75%, #05668d 100%);
  background-attachment: fixed;
  position: relative;
}
.min .message:last-child, .others .message:last-child{
  margin-bottom: 20px;
}
.mine .message:last-child:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #f0f3bd 0%, #02c39a 25%, #00a896 50%, #028090 75%, #05668d 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message:last-child:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.others .message{
  margin-right: 25%;
  background-color: rgb(202, 169, 125);
  position: relative;
}

.others .message img{
  bottom: -16px;
  right: -25px;
}
.others .message div{
  right: -75px;
  bottom: -12px;
  /* background: #f0f3bd; */
}
.others .message:last-child:before{
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: rgb(202, 169, 125);
  border-bottom-right-radius: 15px;
}

.others .message:last-child:after{
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.add{
  color: #05668d;
  border-radius: 50%;
  padding: 5px;
}

.add:hover{
  background: rgb(231, 195, 140);
}

#chat-input{
  display: flex;
  gap: 10px;
}

textarea{
  border-radius: 25px;
  resize: none;
  outline: none;
  border: 1px solid rgb(184, 184, 184);
  width: 100%;
  font-size: 1em;
  line-height: 1.2em; /* Adjust this to match desired row height */
  padding: 10px; /* Reduce padding to ensure it fits the row height */
  box-sizing: border-box; /* Ensure padding is included in total height */
  overflow: hidden;
}

textarea:focus{
  border-color: #02c39a;
  box-shadow: 0 0 5px #02c39a; /* Shadow effect on focus */
}

#send{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 2px solid #05668d;
  outline: 2px solid #02c39a;
  padding: 0;
  background: #f0f3bd;
  color: black;
}
/* #send img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  
} */

#users{
  padding: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #f0f3bd 0%, #02c39a 25%, #00a896 50%, #028090 75%, #05668d 100%);
  border-radius: 0 20px 20px 0;
}

.user{
  margin-bottom: 10px;
}

.user img{
  width: 50px;
}

